.form {
    width: clamp(300px, 90%, 500px);
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 0 25px #ddd;
    padding: 20px;
    background-color: white;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label,
input {
    font-size: 16px;
}
label {
    font-weight: 500;
}
input {
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #777;
    margin-bottom: 20px;
}
input:focus {
    border-bottom-color: dodgerblue;
    box-shadow: 0 1px dodgerblue;
}
input::placeholder {
    color: #aaa;
}

input[type=submit] {
    font-size: 20px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}
.error-msg {
    font-size: 13px;
    font-weight: 700;
    color: #ff5454;
    margin-top: -15px;
    margin-bottom: 15px;
}
.error-msg:last-child {
    text-align: center;
    margin-top: -10px;
}
.registerLink {
    text-align: center;
    margin: -20px 0 50px 0;
}
.registerLink a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}