a {
    color: inherit;
    text-decoration: none;
}
.container {
    min-height: 100vh;
}
nav {
    padding: 30px 50px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
li {
    font-size: 24px;
}
