<div class="form">
    <h2>Welcome !</h2>
    <form action="#">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter username">
        <span class="error-msg">The input field is required</span>

        <label for="email">Email</label>
        <input type="email" id="email" placeholder="someone@example.com">
        

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password">

        <label for="confirm-pass">Confirm Password</label>
        <input type="password" id="confirm-pass" placeholder="Confirm password">

        <label for="credit-card">Credit Card Number</label>
        <input type="text" id="credit-card" placeholder="xxxx-xxxx-xxxx-xxxx">

        <label for="job-position">Job Position</label>
        <div class="radio-btn">
            <input type="radio" id="frontend" name="job-position" value="frontend">
            <label for="front-end">Front-End</label><br>
            <input type="radio" id="backend" name="job-position" value="backend">
            <label for="backend">Back-End</label><br>
            <input type="radio" id="fullstack" name="job-position" value="fullstack">
            <label for="fullstack">Full Stack</label><br>     
        </div>

        <input type="submit" value="Register">
    </form>
</div>